@page "/"
<PageTitle>Thí nghiệm CẢM ỨNG ĐIỆN TỪ</PageTitle>

<div class="w-100 h-100 d-flex align-items-center justify-content-center">
    <div class="w-100 h-100 overflow-hidden position-relative d-flex flex-row">
        <img src="images/NguyenThiThanhLoan.jpg" alt="NguyenThiThanhLoan" />
        <div class="d-flex flex-grow-1 p-3 flex-column">
            <h1>Hiện tượng cảm ứng điện từ</h1>
            <div class="m-3">
                Hiện tượng cảm ứng điện từ là hiện tượng tạo ra dòng điện trong một vòng dây dẫn khi có sự thay đổi trong từ trường xung quanh vòng dây.
                <br />
                Theo định luật Faraday, sự thay đổi trong từ trường xung quanh vòng dây dẫn sẽ tạo ra một lực điện động (EMF) và do đó tạo ra một dòng điện trong vòng dây. Điều này được mô tả bởi phương trình cảm ứng điện từ của Faraday: EMF = -dPhi/dt, trong đó EMF là lực điện động được tạo ra, Phi là từ liên quan đến vòng dây và t là thời gian.
                <br />
                <br />
                Hiện tượng cảm ứng điện từ được ứng dụng trong rất nhiều thiết bị điện tử, chẳng hạn như các máy phát điện, máy biến áp, máy điện động cơ, cảm biến, v.v.
            </div>
            <div class="mb-3">
                <MudButton Variant="Variant.Filled" Color="Color.Primary" Href="/thi-nghiem/1">Thí nghiệm 1</MudButton>
            </div>
            <div class="mb-3">
                <MudButton Variant="Variant.Filled" Color="Color.Primary" Href="/thi-nghiem/2">Thí nghiệm 2</MudButton>
            </div>
            <div class="mb-3">
                <MudButton Variant="Variant.Filled" Color="Color.Primary" Href="/thi-nghiem/3">Thí nghiệm 3</MudButton>
            </div>
            <div class="flex-grow-1 d-flex align-items-end justify-content-end">
                © Copyright ThS Nguyễn Thị Thanh Loan 2023
            </div>
        </div>
    </div>
</div>

@code {

}
