@page "/"
<PageTitle>Thí nghiệm CẢM ỨNG ĐIỆN TỪ</PageTitle>

<div class="index-container">
    <div class="h-100 w-100 d-flex p-3 flex-column">
        <div class="d-flex flex-row justify-content-around pb-5">
            <h1>Hiện tượng cảm ứng điện từ</h1>
        </div>

        <div class="flex-grow-1"></div>
        <div class="d-flex flex-row justify-content-around pb-5">
            <MudButton Variant="Variant.Filled" Color="Color.Primary" Size="Size.Large" Href="/thi-nghiem/1"><h5>Thí nghiệm 1</h5></MudButton>
            <MudButton Variant="Variant.Filled" Color="Color.Primary" Size="Size.Large" Href="/thi-nghiem/2"><h5>Thí nghiệm 2</h5></MudButton>
            <MudButton Variant="Variant.Filled" Color="Color.Primary" Size="Size.Large" Href="/thi-nghiem/3"><h5>Thí nghiệm 3</h5></MudButton>
        </div>
    </div>
</div>

@code {

}
