@page "/"
<PageTitle>Thí nghiệm CẢM ỨNG ĐIỆN TỪ</PageTitle>

<div class="w-100 h-100 d-flex align-items-center justify-content-center">
    <div class="w-100 h-100 overflow-hidden position-relative d-flex flex-row">
        <img src="images/NguyenThiThanhLoan.jpg" alt="NguyenThiThanhLoan" />
        <div class="d-flex flex-grow-1 p-3 flex-column">
            <div class="m-3">
                <MudButton Variant="Variant.Filled" Color="Color.Primary">Thí nghiệm 1</MudButton>
            </div>
            <div class="m-3">
                <MudButton Variant="Variant.Filled" Color="Color.Primary">Thí nghiệm 2</MudButton>
            </div>
            <div class="m-3">
                <MudButton Variant="Variant.Filled" Color="Color.Primary">Thí nghiệm 3</MudButton>
            </div>
        </div>
    </div>
</div>

@code {

}
