@page "/"

<PageTitle>Thí nghiệm CẢM ỨNG ĐIỆN TỪ</PageTitle>

<div class="w-100 h-100 overflow-hidden d-flex flex-column">
    
    <div class="d-flex justify-content-center">

    </div>
</div>

@code {
    private readonly List<ChartSeries> DataSeries = new();

}
