@inherits LayoutComponentBase

<main>
    <div class="w-100 h-100 position-absolute" style="top: 0; left: 0; overflow: hidden;">
        @Body
    </div>
</main>

<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />
